/* * {
  box-sizing: border-box;
} */

body {
  background-color: #17181f;
  color: #ddd;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
}

main {
  margin: 40px auto;
  max-width: 400px;
}

h1,
h3 {
  text-align: center;
}

h1 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.5rem;
}

.title-input {
  background: none;
  border: 3px solid #30313D;
  border-radius: 10px;
  display: block;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 5px;
  width: 60%;
}

form {
  border: 3px solid #30313D;
  border-radius: 10px;
  display: flex;
  padding: 5px;
}

form input {
  background: none;
  border: 0;
  color: #fff;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.1rem;
  padding: 0 8px;
  width: 100%;
}

.task-input:focus,
.title-input:focus {
  border-color: #975fbc;
  outline: none;
}

form button {
  background-color: #975fbc;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  height: 1;
  line-height: 1;
  padding: 0em 0.3em;
  text-align: center;
  transition: all .3s ease-in-out;
}

/* Firefox add button css*/
@-moz-document url-prefix() {
  form button {
     padding: 0px 5px 2px;
  }
}

form button:hover {
  background-color: #30313D;
  color: #975fbc;
}

div.task {
  align-items: center;
  background-color: #30313D;
  border-radius: 10px;
  display: flex;
  padding: 7px 10px;
  margin-top: 5px;
  transition: opacity .3s linear;
}

.task-container {
  width: 100%;
}

.check-icon {
  color: #975fbc;
  height: 20px;
  margin-right: 6px;
}

span.task-name {
  font-size: 1.1rem;
}

/* When task is marked as completed*/

div.task.done {
  opacity: 0.3;
}

div.task-name,
div.task form {
  flex-grow: 1;
}

div.task span {
  position: relative;
}

div.task span:before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 0.7em;
  transition: width .1s linear;
}

div.task.done span:before {
  width: 100%;
}

/* For delete and edit task*/

.icons-container {
  display: flex;
}

button.trash,
button.edit {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 0px;
  margin-left: auto;
}

.trash-icon,
.edit-icon {
  color: #888;
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.trash-icon:hover,
.edit-icon:hover {
  color: #975fbc;
}

div.task input {
  border: 2px solid #555;
  border-radius: 5px;
  padding: 2px
}

div.task input:focus {
  border-color: #975fbc;
  outline: none;
}

/* Media Queries */

@media (max-width: 450px) {
  main {
    max-width: 360px;
  }

  h1 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  form input {
    font-size: 1rem;
  }

  span.task-name {
    font-size: 0.9rem;
  }

}

@media (max-width: 410px) {
  main {
    max-width: 310px;
  }
}

@media (max-width: 350px) {
  main {
    max-width: 260px;
  }
}

@media (max-width: 290px) {
  main {
    max-width: 230px;
  }
}

/*App width for xxl screens*/

@media (min-width: 1000px) {
  main {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {
  main {
    max-width: 550px;
  }
}

@media (min-width: 2000px) {
  main {
    max-width: 600px;
  }
}